{% extends 'base.html' %}
{%block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% import 'macros.html' as macro%}


{% block content %}
  <div class=container>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item" >
            <a id ="cats" class="nav-link" data-toggle="tab" href="#all"><strong>All Pitches</strong> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id ="cats" data-toggle="tab" href="#pick_up">Pick-up Lines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id ="cats" data-toggle="tab" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id ="cats"data-toggle="tab" href="#business">Business</a>
        </li>
    </ul>

    <div class="tab-content">
        <div  class="container tab-pane active" id="all"><br>
          {{ macro.all_post_display(all_posts)}}
        </div>
        <div  class="container tab-pane fade" id="pick_up"><br>
            {{ macro.pickup_post_display(pickup_posts)}}
        </div>
        <div  class="container tab-pane fade" id="products"><br>
            {{ macro.product_post_display(product_posts) }}
        </div>
        <div  class="container tab-pane fade" id="business"><br>
            {{ macro.business_post_display(business_posts) }}
            
        </div>
    </div>
  </div>

{% endblock %}