<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="/"> Pitches</a>
        </div>
        <div class="navbar-collapse ">
            <ul class="nav navbar-nav navbar-left">
                {% if current_user.is_authenticated %}
             <li><a href="{{url_for('main.new_post')}}">Create a pitch</a></li> 
              <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li> 
              <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
              {% else %}
              <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
              {%endif%}
            </ul>

        </div>
          
    </div>
</div>